html{
    width:auto;
}
body{
    background-color: #95968f;
    color:white;
}
.parallax-container{
    border: 8px solid #524941;
}
.parallax{
    opacity: 0.5;
}
a{
    color:#c2a876
}
a:hover{
    color:white;
    text-decoration:underline;
}
#header{
    margin-top: 0%
}
#title{
    font-family: "Oswald";
    text-align: center
}
.bio{
    line-height: 30px;
    font-size: 20px;
}
#headShot{
    margin-left:175px;
    margin-top:2px;
    width: 80px;
    height:80px;
    /* box-shadow: 0 0 7px 0 black; */
    border: 2px solid #524941;
}
.line{
    border: 5px solid #524941;
    margin-bottom: 4px;
    border-radius: 10px;
}
.frame{
    border: 6px solid #524941;
    border-radius: 10px;
}
#name{
    font-family:'Playfair Display SC';
}
#udacityLogo{
    height: 120px;
    width: 200px;
    margin-left:0px;
}
#htmlLogo{
    height:150px;
    width:150px
}
#cssLogo{
    height: 150px;
    width: 120px
}
#javascriptLogo{
    height: 150px;
    width: 150px
}
#jqueryLogo{
    height:120px;
    width:120px;
    margin-left:5px
}
#nodejsLogo{
    height: 120px;
    width: 100px
}
#reactLogo{
    height: 100px;
    width: 100px;
}
#image-holder{
    margin-top:100px;
}
.size{
    height:250px;
    width:400px;
}
.descript{
    margin-top:50px;
}
nav{
    background-color: #524941
}
img{
    width: 450px
}
.carousel{
    height: 200px;
}
#carousel-item{
    height: 200px;
    width:400px;
}
@media screen and (max-width: 320px) {
    html{
      width:800px
    }
    .row{
        margin-left: 150px;
    }
  }
@media screen and (max-width: 510px) {
    html{
      width:800px
    }
    .row{
        margin-left: 150px;
    }
    div.parallax-container{
        width: 1000px;
    }
  }
@media screen and (max-width: 411px) {
    html{
      width:800px
    }
    .row{
        margin-left: 20px;
    }
  }
@media screen and (max-width: 414px) {
    html{
        width:800px
      }
}
@media screen and (max-width: 768px) {
    div.parallax-container{
        width: 1300px;
    }
    html{
        width:899px
      }
      .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
}
@media screen and (max-width: 900px) {
    div.parallax-container{
        width: 1100px;
    }
    html{
        width:899px
      }
      .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
    body{
        width: 1100px;
    }
}
@media screen and (max-width: 1024px) {
    .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
    div.parallax-container{
        width: 1400px;
    }
    body{
        width: 1400px;
    }

}