html{
    width:auto;
}
body{
    background-color: #95968f;
    color:white;
}
.parallax-container{
    border: 8px solid #524941;
}
.parallax{
    opacity: 0.5;
}
a{
    color:#c2a876
}
a:hover{
    color:white;
    text-decoration:underline;
}
#header{
    margin-top: 0%
}
#title{
    font-family: "Oswald";
    text-align: center
}
.bio{
    line-height: 30px;
    font-size: 20px;
    margin-left: 20px;
}
.icon{
    font-size: 50px
    !important;
    margin-left: 2px;
}
.icon-text{
    font-size: 30px
    !important;
    width: 100px;
    height: 85px;
    font-family: "Oswald"
}
.icon-text:hover{
    color:white;
    text-decoration:underline;
}
.icon-box{
    margin-top: 20px auto;
}
div.col.special{
    width: 800px !important;
}
#middle{
    margin-left:250px
}
#headShot{
    margin-left:175px;
    margin-top:2px;
    width: 80px;
    height:80px;
    /* box-shadow: 0 0 7px 0 black; */
    border: 2px solid #524941;
}
.line{
    border: 5px solid #524941;
    margin-bottom: 4px;
    border-radius: 10px;
}
.frame{
    border: 6px solid #524941;
    border-radius: 10px;
}
#name{
    font-family:'Playfair Display SC';
}
#udacityLogo{
    height: 120px;
    width: 200px;
    margin-left:0px;
}
#htmlLogo{
    height:150px;
    width:150px
}
#cssLogo{
    height: 150px;
    width: 120px
}
#javascriptLogo{
    height: 150px;
    width: 150px
}
#jqueryLogo{
    height:120px;
    width:120px;
    margin-left:5px
}
#nodejsLogo{
    height: 120px;
    width: 100px
}
#reactLogo{
    height: 100px;
    width: 100px;
}
#image-holder{
    margin-top:100px;
}
.size{
    height:250px;
    width:400px;
}
.descript{
    margin-top:50px;
}
nav{
    background-color: #524941
}
img{
    width: 450px
}
.page-footer{
    background-color: #524941;
}

@media screen and (max-width: 320px) {
    html{
      width:100%
    }

  }
@media screen and (max-width: 360px) {
    #middle{
        margin-left:250px
    } 
}
@media screen and (max-width: 510px) {
    html{
      width:100%
    }
    /* .row{
        margin-left: 150px;
    } */
    div.parallax-container{
        width: 1000px;
    }
  }
@media screen and (max-width: 411px) {
    html{
      width:100%
    }
    .row{
        margin-left: 20px;
    }
  }
@media screen and (max-width: 414px) {
    html{
        width:100%
      }
}
@media screen and (max-width: 510px) {
    div.row.skills{
        margin-left: 0;
    }
    p.projectExample{
        width: 200px;
    }

}
@media screen and (max-width: 575px) {
    .frame{
        width: 250px !important;
    }

}
@media screen and (max-width: 610px) {
    #htmlLogo{
        height:100px
        !important;
        width:100px
        !important;
    }
    #cssLogo{
        height: 100px
        !important;
        width: 70px
        !important;
        margin-left: 20px;
    }
    #javascriptLogo{
        height: 100px;
        width: 100px
    }
    #jqueryLogo{
        height:60px;
        width:90px;
        margin-left:5px
    }
    #nodejsLogo{
        height: 120px;
        width:90px;
        margin-left:10px;
    }
    #reactLogo{
        height: 100px;
        width: 100px;
    }
}
@media screen and (max-width: 674px) {
    div.col.special{
        width:10px
        !important;
    }    
    #berkeleyLogo{
        width: 200px
        !important;
        height: 100px;
    }
}
@media screen and (max-width: 768px) {
    .frame{
        width: 200px;
    }
    div.parallax-container{
        width: 100%;
    }
    html{
        width:899px
      }
      .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
    #berkeleyLogo{
        width: 300px
        !important;
    }
    img.frame{
        width:200px;
    }
    
}

@media screen and (max-width: 900px) {
    div.parallax-container{
        width: 1100px;
    }
    .frame{
        width: 300px;
    }
    html{
        width:899px
      }
      .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
    body{
        width: 1100px;
    }
    div.col.special{
        width:60px
        !important;
    }
    #berkeleyLogo{
        width: 300px;
    }
}
@media screen and (max-width: 987px) {
    img.frame{
        width: 300px;
    }
    div.parallax-container{
        width: 100%;
    }
    html{
        width:100%
      }
      .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
    body{
        width: 100%;
    }
    div.col.special{
        width:640px
        !important;
    }
    img.frame{
        width:400px;
    }
}
@media screen and (max-width: 1022px) {
    .parallax-container{
        max-width: 1025px;
    }
    .container{
        max-width: 1025px;
    }
    body{
        max-width: 1025px;
    }
    /* img.frame{
        width:400px;
    } */
}
@media screen and (max-width: 1024px) {
    .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
    div.parallax-container{
        width: 1024px;
    }
    .container{
        max-width: 1024px;
    }
    body{
        width: 1024px;
    }
    img.frame{
        width:400px;
    }

}
@media screen and (max-width: 1023px) {
    .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }

    div.parallax-container{
        width: 100%;
    }
    .container{
        max-width: 100%;
    }
    body{
        width: 100%;
    }
}
@media screen and (max-width: 1188px) {
    #htmlLogo{
        height:100px
        !important;
        width:100px
        !important;
    }
    #cssLogo{
        height: 100px
        !important;
        width: 70px
        !important;
        margin-left: 20px;
    }
    #javascriptLogo{
        height: 100px;
        width: 100px
    }
    #jqueryLogo{
        height:60px;
        width:90px;
        margin-left:5px
    }
    #nodejsLogo{
        height: 120px;
        width:90px;
        margin-left:10px;
    }
    #reactLogo{
        height: 100px;
        width: 100px;
    }
    img.frame{
        width:300px;
    }
}
@media screen and (max-width: 2724.16px) {
    .descript{
        padding-left:100px
        !important;
        padding-right:0px
        !important;
    }
}
